# Import & summarize data

In [1]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

In [2]:
train = pd.read_csv('../geotab-data/train.csv')
test = pd.read_csv('../geotab-data/test.csv')

In [3]:
train.describe()

,RowId,IntersectionId,Latitude,Longitude,Hour,Weekend,Month,TotalTimeStopped_p20,TotalTimeStopped_p40,TotalTimeStopped_p50,TotalTimeStopped_p60,TotalTimeStopped_p80,TimeFromFirstStop_p20,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80
count,8.574090e+05,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000,857409.000000
mean,2.349039e+06,836.330832,39.657555,-77.900396,12.427463,0.277485,9.104448,1.731272,5.356027,7.681874,11.905296,22.948071,3.126932,9.051338,12.613628,18.801785,34.037097,6.564450,19.872987,28.255852,43.273503,81.922639
std,2.475128e+05,644.200553,2.920760,5.975814,6.062097,0.447758,1.993233,7.080017,12.861420,15.553418,19.631821,28.118134,11.631092,20.120829,23.847749,29.399634,40.619387,28.003261,56.564229,71.720090,96.933561,152.682760
min,1.920335e+06,0.000000,33.649970,-87.836750,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.134687e+06,306.000000,39.937600,-84.387710,8.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.349039e+06,685.000000,39.985810,-75.173270,13.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,60.400000
75%,2.563391e+06,1254.000000,41.918580,-75.080190,17.000000,1.000000,11.000000,0.000000,0.000000,10.000000,19.000000,35.000000,0.000000,0.000000,22.000000,31.000000,49.000000,0.000000,0.000000,52.900000,64.100000,85.600000
max,2.777743e+06,2875.000000,42.381780,-71.023520,23.000000,1.000000,12.000000,273.000000,318.000000,343.000000,368.000000,689.000000,334.000000,347.000000,355.000000,358.000000,359.000000,1902.700000,3099.500000,3099.500000,3581.600000,4064.300000

In [4]:
#some column info
maxx = 0 
cols = list(train.columns)
info = []
for x in cols:
    distinct = len(train[x].drop_duplicates())
    d_type = type(train[x][0])
    info.append([distinct, d_type])
pd.DataFrame(dict(zip(cols,info)), index=['distinct values', 'type']).T.reset_index()

                      index distinct values                     type
0                     RowId          857409    <class 'numpy.int64'>
1            IntersectionId            2539    <class 'numpy.int64'>
2                  Latitude            4505  <class 'numpy.float64'>
3                 Longitude            4541  <class 'numpy.float64'>
4           EntryStreetName            1708            <class 'str'>
5            ExitStreetName            1694            <class 'str'>
6              EntryHeading               8            <class 'str'>
7               ExitHeading               8            <class 'str'>
8                      Hour              24    <class 'numpy.int64'>
9                   Weekend               2    <class 'numpy.int64'>
10                    Month               9    <class 'numpy.int64'>
11                     Path           15111            <class 'str'>
12     TotalTimeStopped_p20             172    <class 'numpy.int64'>
13     TotalTimeStopped_p40             234    <class 'numpy.int64'>
14     TotalTimeStopped_p50             264    <class 'numpy.int64'>
15     TotalTimeStopped_p60             311    <class 'numpy.int64'>
16     TotalTimeStopped_p80             403    <class 'numpy.int64'>
17    TimeFromFirstStop_p20             239    <class 'numpy.int64'>
18    TimeFromFirstStop_p40             306    <class 'numpy.int64'>
19    TimeFromFirstStop_p50             329    <class 'numpy.int64'>
20    TimeFromFirstStop_p60             351    <class 'numpy.int64'>
21    TimeFromFirstStop_p80             355    <class 'numpy.int64'>
22  DistanceToFirstStop_p20            3479  <class 'numpy.float64'>
23  DistanceToFirstStop_p40            6257  <class 'numpy.float64'>
24  DistanceToFirstStop_p50            7483  <class 'numpy.float64'>
25  DistanceToFirstStop_p60            9495  <class 'numpy.float64'>
26  DistanceToFirstStop_p80           13267  <class 'numpy.float64'>
27                     City               4            <class 'str'>

In [5]:
# DistanceToFirstStop is how far before the intersection the truck stopped for the first time and
# TimeFromFirstStop is how long it took from that point to cross the intersection.
# I think that there should be a relation:
# TimeFromFirstStop=TotalTimeStopped + something like TotalDrivingTimeBetweenStops
# and we should expect that always:
# TimeFromFirstStop>TotalTimeStopped

In [17]:
timefromstop = train.iloc[:,12:17]
totaltimestopped = train.iloc[:,17:22]
distancefromstop = train.iloc[:,22:27]